@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    font-family: outfit;
}

.sidebar img {
    width: 20px;
    /* height: 20px; */
}
.recent-entry {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    padding: 10px;
    /* padding-right: 40px; */
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.recent-entry:hover {
    background-color: #e2e6eb;
}

.result::-webkit-scrollbar{
    display: none;
}
.gradient hr{
    background:linear-gradient(to right,#9ed7ff,white,#9ed7ff);
    background-size: 800px 50px;
    border-radius: 4px;
    border: none;
    height: 20px;
    animation: gradient 3s infinite linear;
}
@keyframes gradient{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}